.contenedor {
    width: 100%;
    height: 500px;
}
.tarjetas{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    
}
.box{
    position: relative;
    margin: 10px;
    width: 300px;
    height: 490px;
    text-align: center;
    border-radius: 20px
}
.face{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transition: all 1s;
    color: #f3f3f3;
    text-align: center;
    border-radius: 20px;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
}
.front{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5);
    transform: perspective(600px) rotateY(0deg);

}

.front h1{
    color: #fff;
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
    background: rgba(27, 27, 27, 0.596);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.8);
}

.uno{
    background: url("../imagenes/pexels-designecologist-1779487.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.dos{
    background: url("../imagenes/pexels-christina-morillo-1181359.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.tres{
    background: url("../imagenes/pexels-photomix-company-230544.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    }
    
.cuatro{

    background: url("../imagenes/pexels-pixabay-270669.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}

.back{
    background-color:var(--color-fondo-back-tarjeta);
    color: var(--color-letra-back-tarjeta);
    transform: perspective(600px) rotateY(180deg) ;
    text-align: center;
    border-radius: 20px;
    

}
.back p{
    color: var(--color-letra-back-tarjeta);
    padding: 30px;
    margin-top: 100px;
    text-align: center;
    font-weight: 100;
    font-family: var(--tipo-letra-tarjeta);
    background: rgba(27, 27, 27, 0.596);
    
} 

.box:hover .front{
    transform: perspective(600px) rotateY(180deg);
}
.box:hover .back{
    transform: perspective(600px) rotateY(360deg);
}
:root{
    --tipo-letra-tarjeta: 'Lato', sans-serif;
    --color-fondo-back-tarjeta: #111;
    --color-letra-back-tarjeta: #fff;
}
